<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home | To-do list</title>
  </head>
  <body>
    <h1>Welcome to your personal To-do list!</h1>
    <h2>What would you like to do?</h2>
    <ol>
    <li><%= link_to 'View your To-do list', items_path %></li>
    <li><%= link_to 'Add an item to your list', new_item_path %></li>  
  </ol>
  </body>
</html>
